#
# Copyright 2023 by Garmin Ltd. or its subsidiaries.
# All rights reserved.
#
# Use of this Software is limited and subject to the License Agreement for ANT SoftDevice
# and Associated Software. The Agreement accompanies the Software in the root directory of
# the repository.
#

config ANT_LICENSE_KEY
	string "ANT License Key."
	depends on ANT_LIBRARY_CORE
	default "3831-521d-7df9-24d8-eff3-467b-225f-a00e" if ANT_EVALUATION_KEY
	help
		This key is used in library initialization. You MUST obtain a
		valid commercial license key BEFORE releasing a product to market
		that uses ANT. You may enable the Evaluation license key for
		non-commericial use by setting CONFIG ANT_EVALUATION_KEY=y or
		defining CONFIG_ANT_LICENSE_KEY in the configuration file. For
		more information about ANT licensing, visit the following website:
		https://www.thisisant.com/developer/ant/licensing

config ANT_EVALUATION_KEY
	bool "Use ANT Evaluation License Key."
	depends on ANT_LIBRARY_CORE
	default n

config ANT_THREAD_COOP_PRIO
	int
	default 8

config ANT_WORK_STACK_SIZE
	int "Size of the work handler thread stack."
	default 1024
	help
	  Size of the work handler thread stack, used to process work in ANT priority context.

choice ANT_SWI
	default ANT_SWI1
	prompt "Software interrupt to use for ANT events."

config ANT_SWI1
	bool "SWI1"
	depends on HAS_HW_NRF_SWI1 || SOC_SERIES_NRF54LX

config ANT_SWI2
	bool "SWI2"
	depends on HAS_HW_NRF_SWI2 || SOC_SERIES_NRF54LX

config ANT_SWI3
	bool "SWI3"
	depends on HAS_HW_NRF_SWI3 || SOC_SERIES_NRF54LX

endchoice

config ANT_TOTAL_CHANNELS_ALLOCATED
	int
	range 1 15
	default 15
	prompt "Allocated ANT channels."

config ANT_ENCRYPTED_CHANNELS
	int
	default 0
	prompt "Allocated ANT encrypted channels."

config ANT_EVENT_QUEUE_SIZE
	int
	default 32
	prompt "Event queue size."

config ANT_BURST_QUEUE_SIZE
	int
	default 128
	prompt "ANT burst queue size."

config ANT_SDC_INIT
	bool "Allow ANT Init to initialize the Softdevice Controller (sdc_init)"
	depends on BT
	depends on ANT_LIBRARY_CORE
	default n
	help
	  Allow ANT initialization on the network core to also initialize the softdevice
	  controller. This is to allow the ANT library stack to utlize the sdc_soc
	  interface for cryptographic purposes. If sdc_init() is run prior to ANT
	  initialization (eg. for BT), then this configuration is not needed as long as
	  it is run before using any ANT library stack cryptographic functions.

module=ANT
module-str=ANT
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
