#
# Copyright 2023 by Garmin Ltd. or its subsidiaries.
# All rights reserved.
#
# Use of this Software is limited and subject to the License Agreement for ANT SoftDevice
# and Associated Software. The Agreement accompanies the Software in the root directory of
# the repository.
#

config ANT_NP
    bool "ANT Network Processor Multicore API Serialization"
    depends on ANT
    select ANT_NP_HOST if SOC_NRF5340_CPUAPP
    select ANT_NP_REMOTE if SOC_NRF5340_CPUNET
    select ANT_RPC
    default y if SOC_NRF5340_CPUAPP || SOC_NRF5340_CPUNET
    default n
    help
       Serialize API calls for execution on remote CPU. 

config ANT_NP_HOST
    bool "ANT Network Processor Host (cpuapp)"
    depends on ANT_NP
    depends on SOC_NRF5340_CPUAPP
    default n
    help
       ANT Host (application core) configuration for multicore applications.

config ANT_NP_REMOTE
    bool "ANT Network Processor Remote (cpunet)"
    depends on ANT_NP
    depends on SOC_NRF5340_CPUNET
    default n
    help
       ANT Remote (network core) configuration for multicore applications.

config ANT_RPC
    bool "ANT over RPC"
    default n
    select NRF_RPC

config ANT_NP_HOST_SYS_INIT
    bool "Initialize ANT network processor host during SYS_INIT"
    depends on ANT_NP_HOST
    default y
    help
       In most cases, the network processor host module handles initialization using
       the SYS_INIT macro. This Kconfig is provided to bypass initialization and expose
       the ant_rpc_app_init function for applications that have unique initialization
       requirements. When enabled, it becomes the responisbility of the application to
       ensure that ant_init() is called on the application core prior to any ANT API usage
       so RPC messages from the network core can be processed.