*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
build-*
build_*
cscope.*
.dir
venv
.venv
.idea

/*.patch

doc/_build
doc/html

tags
.project
.cproject
.xxproject
.envrc
.vscode
sanity-out*
twister-out*