#
# Copyright 2022 by Garmin Ltd. or its subsidiaries.
# All rights reserved.
#
# Use of this Software is limited and subject to the License Agreement for ANT SoftDevice
# and Associated Software. The Agreement accompanies the Software in the root directory of
# the repository.
#

menu "ANT Wireless"

config ANT
    bool "ANT Wireless"
    depends on (SOC_NRF5340_CPUNET || SOC_NRF5340_CPUAPP)

    # include multiprotocol service layer (MPSL):
    #   - ANT stack radio scheduling access via radio event manager (REM)
    select MPSL if SOC_NRF5340_CPUNET

    # include entropy:
    #   - ANT stack encrypted channel support using random number for cryptographic services
    select ENTROPY_GENERATOR if SOC_NRF5340_CPUNET

    help
       Enable ANT ultra low power wireless protocol by Garmin Canada Inc.
       The nRF Connect SDK ANT Wireless library exclusively supports the nRF53 series SOC.

config ANT_INTERNAL
    bool "ANT Internal"
    default n

if ANT

rsource "init/Kconfig"
rsource "lib/Kconfig"
rsource "np/Kconfig"
rsource "samples/Kconfig"

endif

endmenu